@import "tailwindcss";

html {
  font-size: 18px; /* Base font size increased from 16px for rem scaling */
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome / Electron */
}

html, body {
  overflow: hidden;
}
